# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.VSCodeCounter/2024-04-30_01-02-02/details.md
.VSCodeCounter/2024-04-30_01-02-02/diff-details.md
.VSCodeCounter/2024-04-30_01-02-02/diff.csv
.VSCodeCounter/2024-04-30_01-02-02/diff.txt
.VSCodeCounter/2024-04-30_01-02-02/diff.md
.VSCodeCounter/2024-04-30_01-02-02/results.csv
.VSCodeCounter/2024-04-30_01-02-02/results.json
.VSCodeCounter/2024-04-30_01-02-02/results.txt
.VSCodeCounter/2024-04-30_01-02-02/results.md
.gitignore
